name: Fix PHP code style issues

on: [push]

jobs:
    php-code-styling:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}

            - name: Install Dependencies
              run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Fix styling
