name: PHPStan

on:
    push:
        paths:
            - '**.php'
            - 'phpstan.neon.dist'

jobs:
    phpstan:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true

        name: Static Analysis

        steps:
            - name: Check out repository code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
                  tools: composer:v2
                  coverage: none

            - name: Install composer dependencies
              uses: nick-fields/retry@v3
              with:
                  timeout_minutes: 3
                  max_attempts: 5
                  command: composer update --prefer-stable --prefer-dist --no-interaction --no-progress

            - name: Run PHPStan
              timeout-minutes: 2
              run: ./vendor/bin/phpstan analyse --error-format=github
